@import './normalize.css';
html {
  font-size: 10px;
}

body {
  background-color: #030303;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

.header {
  padding: 30px;
}
@media (max-width: 276px) {
  .header {
    padding: 15px;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1052px) {
  .header__wrapper {
    flex-direction: column;
    gap: 20px 0px;
  }
}
@media (max-width: 276px) {
  .header__wrapper {
    gap: 30px 0px;
  }
}

.header__icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0 15px;
}
@media (max-width: 1052px) {
  .header__icon {
    justify-content: flex-start;
  }
}

.header__img {
  width: 25px;
  height: 25px;
  padding: 10px;
  background-image: url("../../src/img/icon.png");
  background-color: #e1ceff;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.header__title {
  margin: 0;
  align-self: center;
  color: #e1ceff;
  font-size: 2.4rem;
  text-transform: uppercase;
}
@media (max-width: 276px) {
  .header__title {
    font-size: 2rem;
  }
}

.header__btns, .header__languages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0 15px;
}
@media (max-width: 1052px) {
  .header__btns, .header__languages {
    flex-direction: column;
  }
}
@media (max-width: 276px) {
  .header__btns, .header__languages {
    gap: 5px 0px;
  }
}

.btn {
  padding: 5px 30px;
  background-color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  word-spacing: normal;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s all;
}
@media (max-width: 1052px) {
  .btn {
    padding: 15px 30px;
    font-size: 2.6rem;
  }
}
@media (max-width: 376px) {
  .btn {
    font-size: 1.7rem;
  }
}
@media (max-width: 276px) {
  .btn {
    font-size: 1.4rem;
  }
}

.btn:hover {
  background-color: #ecca58;
  transition: 0.3s all;
}
@media (max-width: 767px) {
  .btn:hover {
    background-color: #ffffff;
  }
}

.footer {
  padding: 30px;
}
@media (max-width: 376px) {
  .footer {
    padding: 15px;
  }
}

.wrapper__footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0 5%;
  align-items: center;
}
@media (max-width: 767px) {
  .wrapper__footer {
    justify-content: center;
  }
}

.footer__item {
  font-size: 2.5rem;
  font-weight: 600;
  color: #df8d31;
}
@media (max-width: 376px) {
  .footer__item {
    font-size: 1.7rem;
  }
}

.footer__link {
  margin-top: -10px;
}
@media (max-width: 376px) {
  .footer__link {
    margin-top: 0px;
  }
}

.footer__githab {
  width: 40px;
  height: 40px;
}
@media (max-width: 376px) {
  .footer__githab {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 376px) {
  .footer__RS {
    width: 40px;
    height: 40px;
  }
}

.quiz {
  padding: 120px 0px 50px 0px;
}
@media (max-width: 1052px) {
  .quiz {
    padding: 120px 30px 50px 30px;
  }
}
@media (max-width: 767px) {
  .quiz {
    padding: 30px 30px 50px 30px;
  }
}
@media (max-width: 276px) {
  .quiz {
    padding: 15px;
  }
}

.wrapper__quiz {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .wrapper__quiz {
    flex-direction: column;
    gap: 20px 0px;
  }
}

.quiz__imgs {
  width: 420px;
  height: 420px;
  background-color: #ffbd76;
  background-image: url("../../src/img/result.png");
  background-size: 420px 420px;
  background-repeat: no-repeat;
  background-position: 55px 50px;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .quiz__imgs {
    margin: auto;
  }
}
@media (max-width: 475px) {
  .quiz__imgs {
    width: 280px;
    height: 280px;
    background-size: 280px 280px;
  }
}
@media (max-width: 376px) {
  .quiz__imgs {
    width: 220px;
    height: 220px;
    background-size: 220px 220px;
  }
}
@media (max-width: 276px) {
  .quiz__imgs {
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
  }
}

.quiz__desk {
  width: 400px;
  align-self: center;
}
@media (max-width: 376px) {
  .quiz__desk {
    width: 250px;
  }
}
@media (max-width: 276px) {
  .quiz__desk {
    width: 180px;
  }
}

.quiz__text {
  margin: 0;
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}
@media (max-width: 475px) {
  .quiz__text {
    font-size: 2rem;
  }
}
@media (max-width: 475px) {
  .quiz__text {
    text-align: center;
  }
}
@media (max-width: 276px) {
  .quiz__text {
    font-size: 1.5rem;
  }
}

.header-gallery__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s all;
}

.header-gallery__link:hover {
  transform: scale(1.2);
  transition: 0.3s all;
}

/*# sourceMappingURL=index.css.map */
