.answer {
  padding: 30px 0;
}

.answer__wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 0 20px;
}

.answer__choice {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

.answer__btn {
  padding: 20px 15px;
  color: black;
  font-size: 1.8rem;
  line-height: 1.8rem;
  border-radius: 5px;
  background-color:$color-text;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: 0.4s all;
}

.answer__btn:hover,
.answer__next:hover {
  background-color: #9fd8ff;
  transition: 0.4s all;
}

.answer__btn__noAnswer {
  background-color: #d46a64;
}

.answer__btn__answer {
  background-color: #00b949;
}



.answer__desk {
  width: 50%;
  background-image: linear-gradient(#2E9AFF, #ffb9d5);
  border-radius: 5px;
}

.answer__deskBird {
  width: 80%;
  padding: 30px;
}

.answer__musiс {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
}

.answer__btnNext {
  width: 100%;
}

.answer__next {
  width: 100%;
  padding: 20px 15px;
  color: black;
  font-size: 2.5rem;
  line-height: 1.8rem;
  border-radius: 5px;
  background: #e0ccc3;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: 0.4s all;
};

.answer__next__active {
  border: 2px solid red;
};

//result start

.result {
  position: fixed;
  opacity: 0;
  transition: .5s all;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.result__active {
  opacity: 1;
  pointer-events: all;
  transition: .5s all;
}

.result__body {
  position: absolute;
  padding: 25px 10px;
  top: 50%;
  left: 40%;
  width: 300px;
  background: #ffffff;
  border-radius: 5px;
}

.result__score {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.0rem;
  font-weight: 600;
  color: $color-footer;
}

.result__btn {
  margin-left: 30%;
  margin-bottom: 20px;
  padding: 10px 15px;
  color: black;
  font-size: 1.8rem;
  line-height: 1.8rem;
  border-radius: 5px;
  background-color: $color-gvis;
  text-transform: uppercase;
  outline: none;
  border: 0;
  cursor: pointer;
}

//result end