@use '../abstract/constans' as c;
@use '../abstract/mixin' as m;

.answer {
  padding: 30px;
  @include m.media-modale-answer {
    padding: 10px 30px;
  }
  @include m.media-small {
    padding: 20px 30px;
  }
}

.answer__wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 0 20px;
}

.answer__choice {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  @include m.media-modale-answer-small {
    gap: 30px 0;
  }
}

.answer__btn {
  padding: 20px 15px;
  color: c.$color-btn-text;
  font-size: 1.8rem;
  line-height: 1.8rem;
  border-radius: 5px;
  background-color: c.$color-btn;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: 0.4s all;
}

.answer__btn:hover {
  background-color: c.$color-hover-answer;
  transition: 0.4s all;
  @include m.media-taplet-gallery {
    background-color: c.$color-btn;
  }
}

.answer__btn__noAnswer {
  background-color: c.$color-Noanswer
}

.answer__btn__answer {
  background-color: c.$color-answer;
}



.answer__desk {
  width: 50%;
  background-color: c.$color-itemn;
  border-radius: 5px;
}

.answer__deskBird {
  width: 80%;
  padding: 30px;
  @include  m.media-modale-answer {
    padding: 10px;
  }
}

.bird__img-answer  {
  @include m.media-modale-answer-big {
    width: 130px;
    height: 130px;
  }
  @include m.media-modaleSmall {
    width: 100px;
    height: 100px
  }
  @include m.media-small {
    width: 70px;
    height: 70px
  }
}

.answer__musiс {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
}

.answer__btnNext {
  width: 100%;
}

.answer__next {
  width: 100%;
  padding: 20px 15px;
  color: c.$color-btn-text;
  font-size: 2.5rem;
  line-height: 1.8rem;
  border-radius: 5px;
  background: c.$color-answer-next;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: 0.4s all;
};

.answer__next:hover {
  background-color:  c.$color-hover-answer;
  transition: 0.4s all;
  @include m.media-taplet-gallery {
    background: c.$color-answer-next;
  }
}

.answer__next__active {
  border: 2px solid c.$color-answer-active;
};

//result start

.result {
  position: fixed;
  opacity: 0;
  transition: .5s all;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: c.$color-resuit;
}

.result__active {
  opacity: 1;
  pointer-events: all;
  transition: .5s all;
}

.result__body {
  width: 300px;
  position: absolute;
  padding: 25px 10px;
  top: 50%;
  left: 40%;
  background: c.$color-result-body;
  border-radius: 5px;
  @include m.media-tablet-result-big {
    top: 30%;
    left: 20%;
  }
  @include m.media-tablet-result {
    top: 30%;
    left: 12%;
  }
  @include m.media-tablet-result-small {
    top: 30%;
    left: 8%;
    width: 250px;
  }
  @include m.media-mobale-result-big {
    top: 30%;
    left: 5%;
    width: 200px;
  }
}

.result__score {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.0rem;
  font-weight: 600;
  color: c.$color-footer;
}

.result__btn {
  margin-left: 30%;
  margin-bottom: 20px;
  padding: 10px 15px;
  color: c.$color-btn-text;
  font-size: 1.8rem;
  line-height: 1.8rem;
  border-radius: 5px;
  background-color: c.$color-gvis;
  text-transform: uppercase;
  outline: none;
  border: 0;
  cursor: pointer;
  @include m.media-mobale-result-big {
    margin-left: 22%;
  }
}

//result end