.game {
  padding: 0 30px;
  @include media-modale-answer {
   padding: 0 10px;
  }
}

.game__wrapper {
  display: flex;
  flex-direction: column;
}

.game__title {
  margin-bottom: 60px;
  font-size: 2.8rem;
  font-weight: 600;
  color: $color-footer;
  text-align: right;
  @include media-modale-game-small {
    font-size: 2.0rem;
  }
}

.game__btns {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  gap: 0 30px;
  @include media-tablet-game-big {
    gap: 0 4px;
  }
  @include media-small {
    flex-direction: column;
    gap: 5px 0;
  }
}

.game__btn {
  font-size: 2.0rem;
  color: black;
  background-image: linear-gradient(#2E9AFF, #ffb9d5);
  padding: 20px 60px;
  border-radius: 3px;
  @include media-desktop-game {
    padding: 20px 30px;
  }
  @include media-tablet-game-big {
    padding: 20px 40px;
    font-size: 1.7rem;
  }
  @include media-taplet-gallery-big {
    font-size: 1.4rem;
    font-weight: 600;
  }
  @include media-taplet-gallery-small {
    padding: 20px 20px;
  }
  @include media-modale-game-big {
    padding: 20px 10px;
    font-size: 1.2rem;
  }
  @include media-modale-game {
    padding: 5px 6px;
  }
  @include media-modale-answer {
    padding: 5px 4px;
    font-size: 1.0rem;
  }
  @include media-modale-answer-small {
    padding: 5px 2px;
  }
  @include media-small {
    padding: 10px 10px;
    text-align: center;
    font-size: 1.3rem;
  }
}

.game__btn__active {
  background: $color-footer;
}

// block question start 

.game__question {
  display: flex;
  padding: 30px;
  flex-direction: row;
  justify-content:flex-start;
  gap: 0 30px;
  margin-bottom: 20px;

  background-image: linear-gradient(#2E9AFF, #ffb9d5);
  border-radius: 5px;
  @include media-modale-answer-big {
    padding: 15px;
    gap: 0 20px;
  }
  @include media-modaleSmall {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  @include media-small {
    gap: 20px 0px;
  }
}

.game__question-desk {
  display: flex;
  flex-direction: column;
}

.game__question-title {
  margin: 0 0 5px 0;
  font-size: 3.0rem;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  @include media-modaleSmall {
    font-size: 1.5rem;
  }
}

.game__question-musik {
  display: flex;
  flex-direction: row;
  gap: 0 10px;
}

.game__question-play {
  width: 35px;
  height: 35px;
  background-image: url('../../src/img/play.svg');
  background-size: 35px 35px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.game__question-pause {
  width: 35px;
  height: 35px;
  background-image: url('../../src/img/pause.svg');
  background-size: 35px 35px;
  background-repeat: no-repeat;
}

.game__question-progressBar {
  margin: 15px 0 20px 0;
}

.game__question-progressBarBlock {
  width: 1100px;
  height: 5px;
  margin-bottom: 20px;
  display: flex;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  @include media-desktop-game {
    width: 1000px;
  }
  @include media-desktop-gallery {
    width: 900px;
  }
  @include media-desktop-game-small {
    width: 800px;
  }
  @include media-tablet-game-big {
    width: 600px;
  }
  @include media-taplet-gallery-big {
    width: 550px;
  }
  @include media-taplet-gallery-small {
    width: 500px;
  }
  @include media-taplet-gallery-small {
      width: 400px;
  }
  @include media-modale-game-big {
    width: 280px;
  }
  @include media-modale-game-small {
    width: 180px;
  }
  @include media-modale-game {
    width: 120px;
  }
  @include  media-modale-answer {
    width: 100px;
  }
  @include media-modale-answer-small {
    width: 60px;
  }
}

.game__question-range {
  width: 0;
  height: 100%;
  
  border-radius: 10px;
  cursor: pointer;
  background-color: #df8d31;
}

.game__question-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game__question-current-time,
.game__question-current-length {
  font-size: 1.4rem;
  color: $color-text;
}

.game__question-sound {
  display: flex;
  flex-direction: row;
  gap: 0 15px;
}

.game__question-soundBtn {
  width: 20px;
  height: 20px;
  background-image: url('../../src/img/audioPlay.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.game__question-soundBtn_stop {
  width: 20px;
  height: 20px;
  background-image: url('../../src/img/audioStop.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.game__question-sounProgressBar {
  width: 120px;
  margin-top: 5px;
  @include  media-modale-answer {
    width: 100px;
  }
  @include media-modale-answer-small {
    width: 60px;
  }
}

.game__question-sounType {
  -webkit-appearance: none;
  
  width: 100%;
  height: 4px;
  
  background: linear-gradient(to right, #CEAD78 50%, #CEAD78 25%, #ffffff 25%, #ffffff 100%);
  border-radius: 10px;
  cursor: pointer;
}

.game__question-sounType::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-appearance: none;
  background: $color-footer;
  cursor: pointer;
}

// block question end