.quiz {
  padding: 120px 0px 50px 0px;
  @include media-desktop {
    padding: 120px 30px 50px 30px;
  }
  @include media-taplet {
    padding: 30px 30px 50px 30px;
   }
   @include media-mobale-small {
    padding: 15px;
  }
}

.wrapper__quiz {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @include media-taplet {
   flex-direction: column;
   gap: 20px 0px;
  }
}

.quiz__imgs {
  width: 420px;
  height: 480px;
  background-color: #025959;
  background-image: url('../../src/img/icon-birds.png');
  background-size: 420px 480px;
  background-repeat: no-repeat;
  border: 6px solid #F29727;
  @include media-taplet {
    margin: auto;
  }
  
  @include media-mobale-big {
    width: 280px;
    height: 320px;
    background-size: 280px 320px;
  }
  @include media-mobale {
    width: 220px;
    height: 220px;
    background-size: 220px 220px;
  }
  @include media-mobale-small {
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
  }
}

.quiz__desk {
  width: 400px;
  align-self: center;
  @include media-mobale {
    width: 250px;
  }
  @include media-mobale-small {
    width: 180px;
  }
}

.quiz__text {
  margin: 0;
  font-size: 3.0rem;
  font-weight: 600;
  color: $color-text-guiz;
  text-transform: uppercase;
  @include media-mobale-big {
    font-size: 2.0rem;
  }
  @include media-mobale-big {
    text-align: center;
  }
  @include media-mobale-small {
    font-size: 1.5rem;
  }
}