.game__wrapper {
  display: flex;
  flex-direction: column;
}

.game__title {
  margin-bottom: 60px;
  font-size: 2.8rem;
  font-weight: 600;
  color: $color-footer;
  text-align: right;
}

.game__btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 30px;
}

.game__btn {
  font-size: 2.0rem;
  color: black;
  background-image: linear-gradient(#2E9AFF, #ffb9d5);
  padding: 20px 60px;
  border-radius: 3px;
}

.game__btn__active {
  background: $color-footer;;
}