
$color-title:#e1ceff;
$color-text:#a7a7a7;
$color-gvis: #ffbd76;
$color-text: #ffffff;
$color-footer: #df8d31;

$content-width:1440px;

//media

$media-desktop: 1052px;
$media-taplet: 767px;
$media-mobale-big: 475px;
$media-mobale: 376px;
$media-mobale-small: 276px;