
$color-title:#e1ceff;
$color-text-guiz: #F29727;
$color-gvis: #ffbd76;
$color-text: #ffffff;
$color-footer: #df8d31;
$color-btn: #F4E2CC;
$color-itemn: #025959;
$color-bg: #524656;
$color-btn-text: #000000;
$color-hover: #ecca58;

$color-resuit: rgba(0, 0, 0, 0.7);
$color-result-body: #ffffff;

//color progress bar
$color-progress-bar: #ffffff;
$color-progress-range: #df8d31;

//answer color
$color-hover-answer: #9fd8ff;
$color-answer: #00b949;
$color-Noanswer: #d46a64;
$color-answer-next:#e0ccc3;
$color-answer-active: red;

//img gviz
$color-img-gviz: #025959;
$color-img-gviz-border: #F29727;

$content-width:1440px;

