
@use '../abstract/mixin' as m;
@use '../abstract/constans' as s; //@use'../abstract/constans' as c;

.btn {
  padding: 8px 8px;
  text-align: center;
  background-color: s.$color-text;
  font-size: 1.8rem;
  font-weight: 600;
  word-spacing: normal;
  text-transform: uppercase;
  border-radius: 10px;
  color: s.$color-btn-text;
  text-decoration: none;
  cursor: pointer;
  
  @include m.media-desktop {
    padding: 10px 20px;
    font-size: 1.8rem;
  }

  transition: .3s all;
  @include m.media-mobale {
    font-size: 1.7rem;
  }
  @include m.media-mobale-small {
    font-size: 1.4rem;
  }
}



.btn:hover {
  background-color: s.$color-hover;
  transition: .3s all;
  @include m.media-taplet {
    background-color: s.$color-text;
  }
}