.btn {
  padding: 15px 30px;
  font-size: 2.6rem;
  background-size: 0% 0%;
  font-weight: 600;
  word-spacing: normal;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  
  transition: .3s all;
}

.btn:hover {
  
  background-color: #ecca58;
  transition: .3s all;
}