.footer {
  padding: 30px;
  @include media-mobale {
    padding: 15px;
  }
}

.wrapper__footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0 20px;
  align-items: center;
  @include media-taplet {
    justify-content: center;
  }
}

.footer__item {
  font-size: 2.0rem;
  font-weight: 600;
  color: $color-footer;
  @include media-mobale {
    font-size: 1.7rem;
  }
}

.footer__link {
  @include media-mobale {
    margin-top: 0px;
  }
}

.footer__githab {
  width: 30px;
  height: 30px;
  @include media-mobale {
    width: 25px;
    height: 25px
  }
}

.footer__RS {
  width: 30px;
  height: 30px;
  @include media-mobale {
    width: 40px;
    height: 40px
  }
}

