

.header {
  padding: 30px;
  @include media-mobale-small {
    padding: 15px;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  @include media-desktop {
    flex-direction: column;
    gap: 20px 0px;
  }
  @include media-mobale-small {
    gap: 30px 0px;
}
}

.header__icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0 15px;
  @include media-desktop {
    justify-content: flex-start;
  }
}

.header__img {
  width: 25px;
  height: 25px;
  padding: 10px;
  background-image: url('../../src/img/icon.png');
  background-color: $color-title;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.header__title {
  margin: 0;
  align-self: center;
  color: $color-title;
  font-size: 2.4rem;
  text-transform: uppercase;
  @include media-mobale-small {
    font-size: 2.0rem;
  }
}

.header__btns, .header__languages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0 15px;
  @include media-desktop {
    flex-direction: column;
    gap: 30px 30px
  }
  @include media-mobale-small {
    gap: 5px 0px;
  }
}